<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song. %></td>
    </tr>
    <% end %>
  </tbody>
</table>


