<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>genre</th>
    </tr>
  </thead>
</table>


<% @songs.each do |song| %>
<%= song.title %>
<% end %>
